<h2>Add Artist</h2>

<form action="/admin/add_artist" method="post">
  <start class="form-wrapper">
    <div class="form-el">
      <label for="name">Name</label>
      <input type="text" name="name" id = "name"/>
    </div>
    <div class="form-el">
      <label for="info">Info</label>
      <input type="text" name="info" id = "info"/>
    </div>
    <div class="form-el">
      <input type="submit" value="Add Artist"</>
    </div>
  </start>

</form>

<p><a href='/admin/artists'>Back</a></p>
