<h1>Artists</h1>


<% for artist in @artists %>
<table>
  <tr>
    <td><%=artist.name%></td>
    <td>|</td>
    <td><a href="/admin/artists/delete/<%=artist.id%>">Delete Artist</a></td>
  </tr>
  <%end%>
</table>

<p><a href="/admin/add_artist">Add an Artist</a></p>

<p><a href='/admin'>Back</a></p>
