<h1>Artists</h1>


<% for artist in @artists %>
<table>
  <tr>
    <td><%=artist.name%></td>
    <td>|</td>
    <td><form action="/admin/artists/delete/<%=artist.id%>" method="post">
      <input type="Submit" value="Delete Artist">
    </form></td>
  </tr>
  <%end%>
</table>

<p><a href="/admin/add_artist">Add an Artist</a></p>

<p><a href='/admin'>Back</a></p>
