<h1>Welcome to The Gallery website!</h1>

<!-- button to admin page -->
<!-- button to visitor page -->

<h2><a href="/visitor">Take a look at the exhibits!</a></h2>

<p><a href="/admin">Make changes</a></p>
